<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <a href="/dashboard">
        <h2>Dashboard</h2>
      </a>
      <a href="/all/projects"><i class="fas fa-folder"></i> My Projects</a>
      <a href="/pending"><i class="fas fa-clock"></i> Pending</a>
      <!-- <a href="#"><i class="fas fa-tasks"></i> Assigned Projects</a> -->
      <a href="/requests"><i class="fas fa-envelope"></i> Requests</a>
      <!-- <a
        href="/<%= user.urlUserName %>/posts"
        id="postsLink"
        username="<%= user.fullName %>"
        ><i class="fas fa-comments"></i> My Posts</a
      > -->
      <a href="/portofolio" id="portfolio-link-media-768" class="portfolio-link"
        ><i class="fas fa-user"></i> Portofolio</a
      >
      <!-- <a href="/IdeaBank"><i class="fas fa-lightbulb"></i> Project Idea Bank</a> -->
      <a id="logout-link-media-768" class="logout-link" href="/auth/logout">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>

    <div class="main-content" style="background-color: #f4f4f4">
      <div class="navbar">
        <span class="toggle-btn" id="toggle-btn"
          ><i class="fas fa-bars"></i>
          <span class="dashboard-logo" id="dashboardLogo">Dashboard</span>
        </span>
        <div>
          <a
            id="portfolio-link-media-1200"
            href="/portfolio"
            class="portfolio-link"
            ><i class="fas fa-user"></i> Portofolio</a
          >
          <a class="logout-link" href="/auth/logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>

          <form
            id="logout-form"
            action="/auth/logout"
            method="POST"
            style="display: none"
          ></form>
        </div>
      </div>

      <!-- content -->
      <div
        id="user-projects-container"
        data-user="<%= JSON.stringify(user) %>"
        class="flex flex-wrap p-8"
      >
        <div id="no-projects-found" class="mt-8 flex justify-center hidden">
          <div
            class="bg-white rounded-lg shadow p-6 text-center"
            style="height: fit-content"
          >
            <p class="text-lg font-medium text-gray-800">
              you have no projects yet
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/userProjects.js"></script>
    <!-- <script src="/js/dashboard.js"></script> -->
  </body>
</html>
